body{
	font-family: verdana;
	font-size: 18px;
	text-align: justify;
	margin-top: 1cm;
	margin-left: 5%;
}
h1{
	color: red;
}
h3{
	color: #0000FF;
}
#tf1{
	height: 300px;
	width: 600px;
	position: absolute;
	top: 160px;
	left: 250px;
}
#tf2{
	height: 600px;
	width: 800px;
	position: relative;
	left: 300px;
}
#tf3{
	height: 600px;
	width: 850px;
	position: relative;
	left: 290px;
}
#tf4{
	height: 500px;
	width: 700px;
	position: relative;
	left: 300px;
}
#tf5{
	height: 500px;
	height: 600px;
	position: relative;
	left: 300px;
}
#tf6{
	height: 250px;
	width: 250px;
	position: relative;
	left: 80px;
}
#tf7{
	position: relative;
	left: 400px;
	width: 600px;
	height: 300px;
}
#tf8{
	position: relative;
	left: 300px;
	width: 500px;
	height: 400px;
}
.l1{
	list-style: square;
	color: #4E0E99;
	position: relative;
	left: 20px;
}
.l2{
	list-style: decimal;
	position: relative;
	color: #16439F;
}
.tabl1{
	border: 1px solid black;
	border-collapse: collapse;
	width: 50%;
	background-color: #A0DBBB;
}
.tabl2{
	border: 1px solid black;
	border-collapse: collapse;
	width: 60%;
	background-color: #A0DBBB;
}

td{
	border: 1px solid black;
	line-height: 30px;
    width: 40%;
}
#xyz{
	border: medium solid black;
	margin: -20px 20px 10px 40px;
	padding: 20px 20px 40px 60px;
	width: 400px;
	position: relative;
	left: 500px;
	top: -250px;
}