body{
	font-family: verdana;
	font-size: 18px;
	text-align: justify;
	margin-top: 1cm;
	margin-left: 5%;
}
h1{
	color: red;
}
h3{
	color: #0000FF;
}
#tof1{
	height: 300px;
	width: 600px;
	position: absolute;
	top: 160px;
	left: 250px;
}
#tof2{
	height: 400px;
	width: 900px;
	position: absolute;
	left: 200px;
}
#tof3{
	height: 300px;
	width: 300px;
	position: absolute;
	left: 1100px;
	top: 1750px;
}
#tof4{
	height: 300px;
	width: 300px;
	position: absolute;
	left: 1100px;
	top: 2050px;
}
.foo{
  display: inline-block;
  vertical-align: middle;
}
.rectangle {
  height: 2px;
  width: 90px;
  background-color: black;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 40px solid black;
	border-bottom: 10px solid transparent;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 20px solid black;
	position: absolute;
	top: 605px;
	left: 620px;
}
.line-verticale1{
	border-left: 2px solid #000;
	display: inline-block;
	margin: 0 20px;
	height: 50px;
	position: absolute;
	left: 609px;
	top: 565px;
}
.line-verticale2{
	border-left: 2px solid #000;
	display: inline-block;
	margin: 0 20px;
	height: 50px;
	position: absolute;
	left: 520px;
	top: 827px;
}
.clas0{
	position: absolute;
	left: 340px;
	bottom: 10px;
}
.clas1{
	position: absolute;
	right: 570px;
	bottom: 65px;
}
.clas2{
	position: absolute;
	right: 570px;
	bottom: 1px;
}
.clas3{
	position: absolute;
	right: 570px;
	bottom: -70px;
}
.clas4{
	position: absolute;
	top: 15px;
	left: 10px;
}
.cl1{
	border: medium solid black;
	margin: 19px 690px 85px 400px;
	padding: 60px 50px 10px 20px;
}
.cl2{
	left: 170px;
	bottom: 1px;
	position: absolute;
}
.cl3{
	right: 400px;
	bottom: 64px;
	position: absolute;
}
.cl4{
	right: 390px;
	bottom: -10px;
	position: absolute;
}
.cl5{
	right: 310px;
	bottom: -70px;
	position: absolute;
}
.cl6{
	right: 780px;
	top: 555px;
	position: absolute;
}
.cl7{
	left: 550px;
	bottom: -125px;
	position: absolute;
}
table{
	border-collapse: collapse;
	border: 3px solid blue;
	width: 60%;
    position: relative;
    left: 240px;
}
td.td1{
	border: 2px solid green;
	line-height: 40px;
	width: 405px;
}
td.td2{
	border: 2px solid green;
	line-height: 40px;
	width: 100px;
	background-color: rgb(148, 137, 137 );
	color: rgb(153, 20, 14 );
}
.l1{
	position: absolute;
	left: 110px;
	color: #0E3B99;
}
.p1{
	text-align: justify-all;
}
