body{
	font-family: verdana;
	font-size: 18px;
	text-align: justify;
	margin-top: 1cm;
	margin-left: 5%;
}
h1{
	color: red;
}
h3{
	color: #0000FF;
}
th, td{
	border: 1px solid black;
	line-height: 30px;
}
td.td1{
	border: 1px solid black;
	line-height: 20px;
	width: 305px;
}
td.td2{
	border: 1px solid black;
	line-height: 20px;
	width: 430px;
}
mark{
	background-color: lime;
	color: black;
}

.clss1{
	border: medium solid black;
	margin: 45px 700px 85px 400px;
	padding: 50px 50px 5px 20px;
}

.clss2{
    left: 280px;
    top: 350px;
    position: absolute;
}
.clss3{
	left: 810px;
	top: 350px;
	position: absolute;
}
.clss4{
	left: 810px;
	top: 430px;
	position: absolute;
}
.clss5{
	left: 480px;
	top: 269px;
	position: absolute;
}
.clss6{
	left: 680px;
	top: 269px;
	position: absolute;
}
.clss7{
	left: 550px;
	top: 530px;
	position: absolute;
}
.line-verticale{
	border-left: 2px solid #000;
	display: inline-block;
	margin: 0 20px;
	height: 40px;
	position: absolute;
	left: 520px;
	top: 505px;
}

.lt{
   position: absolute;
   left: 120px;
   list-style-type: square;
   color: #008080;
}
.p1{
	font-size: 16px;
}
.table1{
	border-bottom: 1px solid black;
	border-collapse: collapse;
	width: 50%;
	background-color: #E6E6FA;
}


.Et{
    list-style: square;
   position: absolute;
   left: 100px;
}
.te{
	list-style: square;
	position: absolute;
	left: 100px;
}
.TE{
	list-style: square;
	position: absolute;
	left: 100px;
}
.table2{
	border: 2px solid black;
	border-collapse: collapse;
	width: 970px;
}


.tb{
	list-style: disc;
}
.eb{
	font-size: 20px;
	
}

.b{
	color: #581845;
	font-size: 18px;
}
#pic1{
	height: 200px;
	width: 300px;
	position: absolute;
	right: 500px;
	bottom: -120px;
}
#pic2{
	height: 200px;
	width: 300px;
	position: absolute;
	right: 500px;
	bottom: -350px;
}
#pic3{
	height: 200px;
	width: 300px;
	position: absolute;
	right: 500px;
	bottom: -580px;
}
#pic4{
	height: 300px;
	width: 500px;
	position: absolute;
	right: 880px;
	top: 1850px;
}
#pic5{
	height: 300px;
	width: 500px;
	position: absolute;
	right: 150px;
	top: 1850px
}
#pic6{
	height: 180px;
	width: 280px;
	position: relative;
	left: 10px;
	top: 20px;
}
#pic7{
	position: relative;
	left: 80px;
	top: 20px;
}
#pic8{
	position: relative;
	left: 40px;
	top: 20px;
}
#pic9{
	position: relative;
	left: 20px;
	top: 20px;
}
#pic10{
	position: relative;
	height: 200px;
	width: 350px;
	left: 40px;
}